p
{
    color: red;
}

#red
{
    color: red;
}

#blue1
{
    color: blue;
}

#blue2
{
    color: blue;
}

.blue
{
    color: blue;
}

.image
{
    border: 6px black dotted;
    padding: 5px;
}
.image:hover
{
    border: 6px red solid;
}